* {
    font-family: 'Josefin Sans', sans-serif;
    --color-priamry: #4B008F;
    --color-secondary: #7546B0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-default {
    color: var(--color-priamry);
}

.color-secondary {
    color: var(--color-secondary);
}

ul {
    padding-left: 20px;
}
